@import url('https://fonts.googleapis.com/css?family=Raleway');
.quienessomos{
	 background:
   
    url(../img/sendengo-que-es-low.jpg); 
    font-family: 'Raleway', sans-serif;  
    background-size: cover;
    min-height: 600px;   
    color: #FFF;
}
.sub-about{
	color: white;
}

.btn-about{
	background-color: transparent;
    color: white;
    height: 50px;
    width: 200px;
    font-weight: 800;

}
